<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartAlarmClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartAlarmClock.Properties.Settings>
            <setting name="SoundLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxComboBoxListCapacity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RestoreLast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </SmartAlarmClock.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
